* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    background-color: #FFF1D0 ;
  }

  .container-box {
    height: 50vh !important;
    margin-top: 10% !important;
    margin: auto;
  }

  .thankyou-message {
      margin: 0 auto;
      color: gray;
      text-align: center;
  }